<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072974367191-ubbuv0p2o14fviv303fcuondm2iedvdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072974367191-ubbuv0p2o14fviv303fcuondm2iedvdn</string>
	<key>API_KEY</key>
	<string>AIzaSyDUmVm_COYFtRJTcI4hUelxoZCJQODIVBk</string>
	<key>GCM_SENDER_ID</key>
	<string>1072974367191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLogin</string>
	<key>PROJECT_ID</key>
	<string>fir-artpress</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-artpress.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072974367191:ios:56b206838d70941fbc2392</string>
</dict>
</plist>